@model Notions.Models.BlogPost
@{ var imgSrc = Html.DisplayTextFor(model => model.ImgUrl); }

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header text-center" style="background-image: url('@imgSrc')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading text-box">
                    <h1>@Html.DisplayFor(model => model.Title)</h1>
                    <h2 class="subheading">@Html.DisplayFor(model => model.TeaserText)</h2>
                    <span class="meta">Posted on @Html.DisplayFor(model => model.Created)</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>
                    @Html.DisplayFor(model => model.Body)
                </p>
            </div>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
    </div>
</article>
